h1{
    color:skyblue;
    background-color:beige;
    height:300px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding-top:80px;
    font-size: 70px;
  }
  