<h1>{{ message}}</h1>
<!Doctype html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>ome to the best News Website</title>
        {% endif %}
    </head>
    <body>
        <h1>WELCOME TO NEWS HIGHLIGHT</h1>
        <ul>
            <h4>GENERAL</h4>
            {% for source in general %}
            <li>{{ source.name }}</li>
            {% endfor%}
            <h4>BUSINESS</h4>
            {% for source in business %}
            <li>{{ source.name }}</li>
            {% endfor%}
            <h4>SPORTS</h4>
            {% for source in sports %}
            <li>{{ source.name }}</li>
            {% endfor%}
            <h4>ENTERTAINMENT</h4>
            {% for source in entertainment %}
            <li>{{ source.name }}</li>
            {% endfor%}
            <h4>TECHNOLOGY</h4>
            {% for source in technology %}
            <li>{{ source.name }}</li>
            {% endfor%}

        </ul>
    </body>
</html>